[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/glorv/rocksdb.git
	branch = level-max-range-overlap

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/hbisheng/titan.git
	branch = titan-properties
